@media screen and (min-width:768px){

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.access_float{
  max-width:1000px;
  margin-left:auto;
  margin-right:auto;
  margin-top:3%;
  overflow:hidden;
}
.ac_right{
  width:70%;
  float:right;
}
.ac_left{
  width:30%;
  float:right;
}
#map{
  display:block;
  margin-left:auto;
  width:100%;
    height: 400px;
    background-color: gray;
}

#access_images{
	max-width:1000px;
	margin:0 auto;
	overflow: hidden
}

.ac_content2,.ac_content3{
  width:45%;
  margin-top:5%;
}

.ac_content2 img,.ac_content3 img{
    width:100%;
    overflow: hidden;
}

.ac_content2{
    float:left;
}

.ac_content3{
    float:right;
}

.ac_text1{
  line-height:4em;
    font: 100% "ヒラギノ明朝 ProN"; 
}

footer{
    margin-top:10%;
}
.fotter_top,.footer_p1,.footer_p2{
    line-height:4em;
    font: 100% "ヒラギノ明朝 ProN";
}
a[href^="tel:"] {  
    border: 4px solid transparent;
  
    background: #6e9a81;
    color: #000;
    font-size: 1em;
    padding: 5px 5px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

a[href^="tel:"]:hover {
    background-color: #628b74;
    color: #fff;
}
}

/*-----------------------------*/
/* 画面サイズが768px以下の場合に適用 */
/*----------------------------*/
@media screen and (max-width: 767px) {
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
    
.ac_logo{
  display:none;
}
.ac_text1{
  font-size:2vw;
  line-height: 1em;
}
.ac_text1 br{
  display:none;
}

.ac_right {
    padding-bottom: 56.25%;
    padding-top: 30px;
    margin-top:5%;
    height: 0;
    overflow: hidden;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    position: relative;
}


#map{
	width: 100%;
    left:0;
    right: 0;
    height: 200px;
    background-color: gray;
}

.ac_left{
  visibility: hidden;  
  width:90%;
  float:none;
  display:block;
  margin-right:auto;
  margin-left:auto;
}
    
.ac_content2,.ac_content3{
  max-width:400px;
  margin-left:auto;
  margin-right:auto;
  margin-top:3%;
    float:center;
}
.ac_content2 img,.ac_content3 img{
    width:100%;
}
.ac_text2,.ac_text3{
  font-size:2vw;
}
.ac1,.ac2{
  width:40vw;
}
}